body {
padding:20px;
}

.whistle {
font-family: 'TinWhistleFingering';
font-size: 50px;
}

.tabstrich {
display:none;
}

svg {
color:black;
}

.hidebutton {
display: none;
}

.toggle-buttons input[type="radio"] {
display: none;
}

.toggle-buttons label {
font-family:"Helvetica";
font-size:11pt;
border: 1px solid #333;
border-radius: 0.5em;
padding: 0.5em;
margin-right:10px;
}

.toggle-buttons input:checked + label {
background: #ebf5d7;
color: #5a9900;
box-shadow: none;
}

input:hover + label,
input:focus + label {
background: #ffebe6;
}

#notation {
margin-bottom:50px;
}

#abc {
font-size: 10pt;
margin-top: 24px;
}

.transpose, .saveaspdf{
border: 1px solid #333;
border-radius: 0.5em;
padding: 0.5em;
margin-right:10px;
}

.abcupload {
font-size: 10pt;
outline-color: black;
outline-width: 1px;
outline-style: solid;
background-color: white;
color: black;
padding: 0.5rem;
font-family: sans-serif;
border-radius: 0.3rem;
cursor: pointer;
margin-right: 16px;
}

#safariuser{
display:none;
background-color:yellow;
padding-top:12px;
padding-bottom:12px
}

#notenrechts{
margin-top:18px;
display:none;
}

#notation-holder{
display:none;
}

#inputarea{
margin-top:24px;
}

#tabs-selection{
margin-top:24px;
}

#render-width{
margin-top:24px;	
}

#pdf-controls{
margin-top:24px;	
}

#offscreenrender{
position:absolute; 
left:-2100px;
}

#advanced-controls{
display:none;
margin-top:20px;
}

#staff-spacing{
width:75px;
margin-top:5px;
}

#transpose-controls, #tabs-selection, #render-width{
display:flex;
}

p{
font-size:12pt;
font-family:"Helvetica";
}

