body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

select {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 20px;
}

iframe {
    border: 1px solid #ccc;
}
